.vertical-timeline-custom-line::before {
  background: #0094ff;
}
.vertical-timeline.vertical-timeline-custom-line
  .vertical-timeline-element--work
  .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #1976d2, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline.vertical-timeline-custom-line
  .vertical-timeline-element--education
  .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #c2185b, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}


.vertical-timeline-element-content h3 {
  font-weight: 600;
  margin: 0;
}

.vertical-timeline-element-content p {
  font-weight: 400;
  margin: 0;
}

.vertical-timeline-element-content .o-date {
  font-weight: 300;
  margin: 0;
}

.o_resume{
  padding-bottom: 8rem;
}

.o_resume h1{
  font-weight: 200;
  font-size: 75px;
  text-align: center;
  color: white;
}